In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from patsy import dmatrices
import sklearn
import seaborn as sns

In [3]:
walmart_data= pd.read_csv("Walmart_Store_sales.csv")

In [4]:
walmart_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [17]:
walmart_data.shape

(6435, 8)

In [15]:
# Reading Every column data
walmart_data['Store'].shape

(6435,)

In [8]:
walmart_data['Store'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], dtype=int64)

In [11]:
walmart_data['Store'].isnull().sum()

0

In [12]:
walmart_data['Store'].notnull().sum()

6435

In [16]:
walmart_data['Date'].notnull().sum()

6435

In [18]:
walmart_data['Weekly_Sales'].notnull().sum()

6435

In [19]:
walmart_data['Holiday_Flag'].notnull().sum()

6435

In [21]:
walmart_data['Temperature'].notnull().sum()

6435

In [22]:
walmart_data['Fuel_Price'].notnull().sum()

6435

In [23]:
walmart_data['CPI'].notnull().sum()

6435

In [24]:
walmart_data['Unemployment'].notnull().sum()

6435

In [25]:
# above results are showing there is no emty cell given

In [54]:
#Analysis Tasks

#Basic Statistics tasks

#1.Which store has maximum sales
walmart_data_max=walmart_data.groupby('Store')['Weekly_Sales'].sum()

In [67]:
walmart_data_max.head(10)

Store
1     2.224028e+08
2     2.753824e+08
3     5.758674e+07
4     2.995440e+08
5     4.547569e+07
6     2.237561e+08
7     8.159828e+07
8     1.299512e+08
9     7.778922e+07
10    2.716177e+08
Name: Weekly_Sales, dtype: float64

In [62]:
print("Store Number {} has maximum Sales and Sum of Total Sales {}".format(walmart_data_max.idxmax(),walmart_data_max.max() ))

Store Number 20 has maximum Sales and Sum of Total Sales 301397792.46000004

In [66]:
walmart_final=walmart_data_max[walmart_data_max.idxmax(),walmart_data_max.max() ] # this code is also giving output with some error

KeyError: (20, 301397792.46000004)

In [68]:
#Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation
walmart_data_std=walmart_data.groupby('Store').agg({'Weekly_Sales':'std'})

In [69]:
walmart_data_std

        Weekly_Sales
Store
1      155980.767761
2      237683.694682
3       46319.631557
4      266201.442297
5       37737.965745
6      212525.855862
7      112585.469220
8      106280.829881
9       69028.666585
10     302262.062504
11     165833.887863
12     139166.871880
13     265506.995776
14     317569.949476
15     120538.652043
16      85769.680133
17     112162.936087
18     176641.510839
19     191722.638730
20     275900.562742
21     128752.812853
22     161251.350631
23     249788.038068
24     167745.677567
25     112976.788600
26     110431.288141
27     239930.135688
28     181758.967539
29      99120.136596
30      22809.665590
31     125855.942933
32     138017.252087
33      24132.927322
34     104630.164676
35     211243.457791
36      60725.173579
37      21837.461190
38      42768.169450
39     217466.454833
40     119002.112858
41     187907.162766
42      50262.925530
43      40598.413260
44      24762.832015
45     130168.526635

In [70]:
print("Store Number {} has maximum Standard Deviation.STD {}".format(walmart_data_std['Weekly_Sales'].idxmax(),walmart_data_std['Weekly_Sales'].max() ))

Store Number 14 has maximum Standard Deviation.STD 317569.9494755081

In [71]:
# find out the coefficient of mean to standard deviation

walmart_data_std1= walmart_data.groupby('Store').agg({'Weekly_Sales':['mean','std']})

In [73]:
walmart_data_std1.head()

       Weekly_Sales
               mean            std
Store
1      1.555264e+06  155980.767761
2      1.925751e+06  237683.694682
3      4.027044e+05   46319.631557
4      2.094713e+06  266201.442297
5      3.180118e+05   37737.965745

In [74]:
# Which store/s has good quarterly growth rate in Q3’2012

In [85]:
walmart_data_Q32012 = walmart_data[(pd.to_datetime(walmart_data['Date']) >= pd.to_datetime('07-01-2012')) & (pd.to_datetime(walmart_data['Date']) <= pd.to_datetime('09-30-2012'))]
#walmart_data.info()

In [81]:
walmart_data['Date']=pd.to_datetime(walmart_data['Date'])

In [82]:
walmart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
Store           6435 non-null int64
Date            6435 non-null datetime64[ns]
Weekly_Sales    6435 non-null float64
Holiday_Flag    6435 non-null int64
Temperature     6435 non-null float64
Fuel_Price      6435 non-null float64
CPI             6435 non-null float64
Unemployment    6435 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [88]:
walmart_data_Q32012['Date'].unique()

array(['2012-09-03T00:00:00.000000000', '2012-08-06T00:00:00.000000000',
       '2012-07-13T00:00:00.000000000', '2012-07-20T00:00:00.000000000',
       '2012-07-27T00:00:00.000000000', '2012-08-17T00:00:00.000000000',
       '2012-08-24T00:00:00.000000000', '2012-08-31T00:00:00.000000000',
       '2012-07-09T00:00:00.000000000', '2012-09-14T00:00:00.000000000',
       '2012-09-21T00:00:00.000000000', '2012-09-28T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [90]:
# Which store/s has good quarterly growth rate in Q3’2012
walmart_data_growth=walmart_data_Q32012.groupby(['Store'])['Weekly_Sales'].sum()

In [93]:
print("store  {} has maximum quarterly growth rate of amount{}".format(walmart_data_growth.idxmax(),walmart_data_growth.max() ))

store  4 has maximum quarterly growth rate of amount25652119.35

In [99]:
#Some holidays have a negative impact on sales. 
#Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together
#Find out store's holiday week  sales Holiday week falg = 1

stores_holidayweek_sale = walmart_data[walmart_data['Holiday_Flag']==1]

In [100]:
# Non holiday week Holiday week falg = 0
stores_nonholidayweek_sale= walmart_data[walmart_data['Holiday_Flag']==0]

In [118]:
#Holiday Events

# Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13

stores_holiday_sales_superBowl = stores_holidayweek_sale[(pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('12-02-2010')) |(pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('11-02-2011'))|(pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('10-02-2012'))|(pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('08-02-2013'))]

In [ ]:
#Stores Sales in Labour Day 
#Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13

In [127]:
stores_holiday_sales_Labourday = stores_holidayweek_sale[(pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('10-09-2010')) | (pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('09-09-2011')) | (pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('07-09-2012')) | (pd.to_datetime(stores_holidayweek_sale['Date']) == pd.to_datetime('06-09-2013'))]

In [128]:
stores_holiday_sales_Labourday['Date'].unique()

array(['2010-10-09T00:00:00.000000000', '2011-09-09T00:00:00.000000000',
       '2012-07-09T00:00:00.000000000'], dtype='datetime64[ns]')

In [150]:
#Stores Sales in Thanks Giving 
#Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
stores_holiday_sales_Thanksgiving = stores_holidayweek_sale[(pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('26-11-2010')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('25-11-2011')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('23-11-2012')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('29-11-2013')) ]

In [151]:
#Stores Sales in Christmas
# Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13

stores_holiday_sales_Christmas = stores_holidayweek_sale[(pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('31-12-2010')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('30-12-2011')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('28-12-2012')) | (pd.to_datetime( stores_holidayweek_sale['Date']) == pd.to_datetime('27-12-2013')) ]

In [133]:
#Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

In [134]:
stores_nonholidayweek_sale

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,2010-12-03,1439541.59,0,57.79,2.667,211.380643,8.106
...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,2012-05-10,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,2012-12-10,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667

In [139]:
# walmart_data_std1= walmart_data.groupby('Store').agg({'Weekly_Sales':['mean','std']})
stores_nonholiday_sales_mean =stores_nonholidayweek_sale.groupby('Date').agg({'Weekly_Sales':['mean']}).reset_index()

In [140]:
stores_nonholiday_sales_mean

          Date  Weekly_Sales
                        mean
0   2010-01-10  9.386639e+05
1   2010-02-04  1.120530e+06
2   2010-02-07  1.087055e+06
3   2010-02-19  1.072822e+06
4   2010-02-26  9.770794e+05
..         ...           ...
128 2012-10-08  1.053410e+06
129 2012-10-19  1.002720e+06
130 2012-10-26  1.012091e+06
131 2012-11-05  1.042797e+06
132 2012-12-10  1.025078e+06

[133 rows x 2 columns]

In [143]:
#stores_holidayweek_sale = walmart_data[walmart_data['Holiday_Flag']==1]
stores_holiday_sales_sum=stores_holidayweek_sale.groupby('Date').agg({'Weekly_Sales':'sum'}).reset_index()

In [144]:
stores_holiday_sales_sum

        Date  Weekly_Sales
0 2010-10-09   45634397.84
1 2010-11-26   65821003.24
2 2010-12-02   48336677.63
3 2010-12-31   40432519.00
4 2011-09-09   46763227.53
5 2011-11-02   47336192.79
6 2011-11-25   66593605.26
7 2011-12-30   46042461.04
8 2012-07-09   48330059.31
9 2012-10-02   50009407.92

In [153]:
for r in stores_holiday_sales_sum.itertuples():
    for r1 in stores_holiday_sales_sum.itertuples():
        if r.Weekly_Sales>r1.Weekly_Sales:
            print("On this date {} Holiday sales  are greater than non holiday sales and the sales:- {}".format(r.Date,r.Weekly_Sales))
            break;
print("Super Bowl Day Sale",stores_holiday_sales_superBowl['Weekly_Sales'].sum())
print("Labour Day Sale",stores_holiday_sales_Labourday['Weekly_Sales'].sum())
print("Thanksgiving Day Sale",stores_holiday_sales_Thanksgiving['Weekly_Sales'].sum())
print("Christmas Day Sale",stores_holiday_sales_Christmas['Weekly_Sales'].sum())

On this date 2010-10-09 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 45634397.84
On this date 2010-11-26 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 65821003.23999999
On this date 2010-12-02 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 48336677.63000002
On this date 2011-09-09 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 46763227.529999994
On this date 2011-11-02 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 47336192.79000002
On this date 2011-11-25 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 66593605.25999998
On this date 2011-12-30 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 46042461.04000001
On this date 2012-07-09 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 48330059.31
On this date 2012-10-02 00:00:00 Holiday sales  are greater than non holiday sales and the sales:- 50009407.919999994
Super Bowl Day Sale 145682278.34
Labour Day Sale 140727684.68
Thanksgiving Day Sale 132414608.5
Christmas Day Sale 86474980.03999999

In [166]:
x_object=walmart_data[walmart_data['Store'] == 1][['Store','Date']]

In [167]:
x_object

     Store       Date
0        1 2010-05-02
1        1 2010-12-02
2        1 2010-02-19
3        1 2010-02-26
4        1 2010-05-03
..     ...        ...
138      1 2012-09-28
139      1 2012-05-10
140      1 2012-12-10
141      1 2012-10-19
142      1 2012-10-26

[143 rows x 2 columns]

In [168]:
date_obj = walmart_data[walmart_data['Store'] == 1][['Date']]

In [169]:
date_obj

          Date
0   2010-05-02
1   2010-12-02
2   2010-02-19
3   2010-02-26
4   2010-05-03
..         ...
138 2012-09-28
139 2012-05-10
140 2012-12-10
141 2012-10-19
142 2012-10-26

[143 rows x 1 columns]

In [170]:
date_obj.index +=1

In [171]:
date_obj

          Date
1   2010-05-02
2   2010-12-02
3   2010-02-19
4   2010-02-26
5   2010-05-03
..         ...
139 2012-09-28
140 2012-05-10
141 2012-12-10
142 2012-10-19
143 2012-10-26

[143 rows x 1 columns]

In [174]:
x_object.Date=date_obj.index

In [175]:
x_object  # Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order)

     Store  Date
0        1     1
1        1     2
2        1     3
3        1     4
4        1     5
..     ...   ...
138      1   139
139      1   140
140      1   141
141      1   142
142      1   143

[143 rows x 2 columns]

In [177]:
y_target = walmart_data[walmart_data['Store'] == 1][['Weekly_Sales']]

In [178]:
y_target

     Weekly_Sales
0      1643690.90
1      1641957.44
2      1611968.17
3      1409727.59
4      1554806.68
..            ...
138    1437059.26
139    1670785.97
140    1573072.81
141    1508068.77
142    1493659.74

[143 rows x 1 columns]

In [179]:
#Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

In [181]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test = train_test_split(x_object , y_target , random_state = 1)

In [182]:
#Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb #2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and #fuel price have any impact on sales.

In [183]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)
feature_data=walmart_data[walmart_data['Store'] == 1][['Store','CPI','Unemployment','Fuel_Price']]
feature_data.head()

   Store         CPI  Unemployment  Fuel_Price
0      1  211.096358         8.106       2.572
1      1  211.242170         8.106       2.548
2      1  211.289143         8.106       2.514
3      1  211.319643         8.106       2.561
4      1  211.350143         8.106       2.625

In [184]:
responseset_cpi = walmart_data[walmart_data['Store'] == 1]['CPI'].astype('int64')
responseset_Unemployment =  walmart_data[walmart_data['Store'] == 1]['Unemployment'].astype('int64')

In [185]:
responseset_cpi.head()

0    211
1    211
2    211
3    211
4    211
Name: CPI, dtype: int64

In [186]:
responseset_Unemployment.head()

0    8
1    8
2    8
3    8
4    8
Name: Unemployment, dtype: int64

In [192]:
from sklearn.model_selection import train_test_split
x_train_cpi,x_test_cpi, y_train_cpi, y_test_cpi = train_test_split(feature_data, responseset_cpi, random_state = 1)
x_train_une, x_test_une, y_train_une, y_test_une = train_test_split(feature_data, responseset_Unemployment , random_state = 1)

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter = 10000)
logreg.fit(x_train_cpi,  y_train_cpi)
y_pred = logreg.predict(x_test_cpi)
logreg.fit(x_train_une, y_train_une)
y_pred_unemp = logreg.predict(x_test_une)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [193]:
from sklearn import metrics
print(metrics.accuracy_score(y_test_cpi,y_pred))
print(metrics.accuracy_score(y_test_une,y_pred_unemp))

0.6388888888888888
0.9722222222222222

In [195]:
print('cpi actual :', y_test_cpi.values[0:30])
print('cpi Predicted :', y_pred[0:30])
print('actual Unemployment :', y_test_une.values[0:30])
print('Predicted Unemployment :', y_pred_unemp[0:30])

cpi actual : [215 221 211 211 221 211 210 211 215 217 221 212 216 218 211 210 211 217
 215 211 212 217 221 219 214 211 211 219 215 219]
cpi Predicted : [215 221 211 211 221 211 211 211 215 215 221 211 215 211 211 211 211 215
 215 211 211 211 221 211 215 211 211 211 215 211]
actual Unemployment : [7 7 7 8 7 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]
Predicted Unemployment : [7 7 7 7 7 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7]

In [196]:
#Change dates into days by creating new variable.
walmart_data['Day'] = pd.to_datetime(walmart_data['Date']).dt.day_name()
walmart_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,Sunday
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,Thursday
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,Friday
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,Friday
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,Monday